src/levelsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="levels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="level" maxOccurs="unbounded" minOccurs="1">
          <xs:annotation>
            <xs:documentation>LEVEL 1  LEVEL 2</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="towers"/>
              <xs:element type="xs:short" name="credits"/>
              <xs:element type="xs:byte" name="winScore"/>
              <xs:element name="units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="unit" maxOccurs="unbounded" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="terrain">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="grass">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="required"/>
                                  <xs:attribute type="xs:byte" name="y" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="road">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="required"/>
                                  <xs:attribute type="xs:byte" name="y" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="start">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="required"/>
                                  <xs:attribute type="xs:byte" name="y" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="goal">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="position">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="x" use="required"/>
                                  <xs:attribute type="xs:byte" name="y" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="levelNumber" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="dimensionX" use="required"/>
      <xs:attribute type="xs:byte" name="dimensionY" use="required"/>
      <xs:attribute type="xs:byte" name="nrOfLevels" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>